@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = _localizer[nameof(SharedResource.Arrival)];
}

<h1 class="text-center mt-4">@_localizer[nameof(SharedResource.WhereAreYouHeading)]</h1>



<form asp-action="DepartureDate">
    <div class="row mb-4"></div>
    <div class="input-group mb-3 col-6 offset-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input asp-for="To" class="form-control" />
    </div>


    @Html.HiddenFor(x => x.Date)
    @Html.HiddenFor(x => x.From)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.FlightNumber)
    @Html.HiddenFor(x => x.LoadType)
    @Html.HiddenFor(x => x.CanBookInstantly)
    @Html.HiddenFor(x => x.CanSeeProfilePicture)
    @Html.HiddenFor(x => x.Comment)
    @Html.HiddenFor(x => x.LoadLimits)

</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">

        $(function () {
            SetFieldAutocompletePlacesApi($('#To'), true);
        });
    </script>
}
