@model IEnumerable<BlaBlaCarAz.BLL.DomainModel.Entities.Ride>
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = _localizer[nameof(SharedResource.BookConfirmations)];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @_localizer[nameof(SharedResource.BookConfirmationsHeader1)]
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @(_localizer[nameof(SharedResource.When)])
            </th>
            <th>
                @(_localizer[nameof(SharedResource.From)])
            </th>
            <th>
                @(_localizer[nameof(SharedResource.To)])
            </th>
            <th>
                @(_localizer[nameof(SharedResource.LoadLimits)])
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Books.Any(x => !x.IsConfirmed))
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadLimits)
            </td>
            <td>
                <div class="ui-widget-content">
                    <ul>
                        @foreach (var bookItem in item.Books.Where(x => !x.IsConfirmed))
                        {
                            <li>
                                <a href="@Url.Action("Show", "Profile", new { id = bookItem.AppUserId })">
                                    <span class="text-left">@bookItem.AppUser.NameLastName</span>
                                    <span class="text-right"><img width="46" height="46" src="@Url.Action("GetImage", "Profile", new { id = bookItem.AppUserId })" /></span>
                                </a>
                                @Html.ActionLink(_localizer[nameof(SharedResource.Confirm)], "Confirm", "Book", new { bookId = bookItem.Id, rideId = item.Id })
                            </li>
                        }

                    </ul>
                </div>

            </td>
        </tr>
            }
        }
    </tbody>
</table>

<h1>
        @_localizer[nameof(SharedResource.BookConfirmationsHeader2)]

</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @(_localizer[nameof(SharedResource.When)])
            </th>
            <th>
                @(_localizer[nameof(SharedResource.From)])
            </th>
            <th>
                @(_localizer[nameof(SharedResource.To)])
            </th>
            <th>
                @(_localizer[nameof(SharedResource.LoadLimits)])
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Books.Any(x => x.IsConfirmed))
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadLimits)
            </td>
            <td>
                <div class="ui-widget-content">
                    <ul>
                        @foreach (var bookItem in item.Books.Where(x => x.IsConfirmed))
                        {
                            <li>
                                <a href="@Url.Action("Show", "Profile", new { id = bookItem.AppUserId })">
                                    <span class="text-left">@bookItem.AppUser.NameLastName</span>
                                    <span class="text-right"><img width="46" height="46" src="@Url.Action("GetImage", "Profile", new { id = bookItem.AppUserId })" /></span>
                                </a>
                            </li>
                        }

                    </ul>
                </div>

            </td>
        </tr>
            }
        }
    </tbody>
</table>
