@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride

@{
    ViewData["Title"] = "Comment";
}


<h1 class="text-center mt-4">Anything to add about your ride?</h1>

<form asp-action="Create">
    <div class="row mb-4"></div>
        <div class="form-group col-6 offset-3">
            <textarea class="form-control" id="Comment" rows="3" name="Comment" placeholder="Hello! I'm going to visit my family. I travel with a cat and I have a lot of space in the boot!"></textarea>
        </div>

        @Html.HiddenFor(x => x.To)
        @Html.HiddenFor(x => x.From)
        @Html.HiddenFor(x => x.CanBookInstantly)
        @Html.HiddenFor(x => x.Date)
        @Html.HiddenFor(x => x.FlightNumber)
        @Html.HiddenFor(x => x.LoadLimits)
        @Html.HiddenFor(x => x.Price)
        @Html.HiddenFor(x => x.LoadType)
        @Html.HiddenFor(x => x.CanSeeProfilePicture)
        @Html.HiddenFor(x => x.IsRecommendedPriceOk)
        <div class="form-group col-6 offset-3">
            <input type="submit" value="Publish ride" class="btn btn-primary" />
        </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
