@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = _localizer[nameof(SharedResource.Comment)];
}


<h1 class="text-center mt-4">@_localizer[nameof(SharedResource.CommentHeader)]</h1>

<form asp-action="Create">
    <div class="row mb-4"></div>
    <div class="form-group col-6 offset-3">
        <textarea class="form-control" id="Comment" rows="3" name="Comment" placeholder="@_localizer[nameof(SharedResource.CommentPlaceholder)]"></textarea>
    </div>

    @Html.HiddenFor(x => x.To)
    @Html.HiddenFor(x => x.From)
    @Html.HiddenFor(x => x.CanBookInstantly)
    @Html.HiddenFor(x => x.DateString)
    @Html.HiddenFor(x => x.TimeString)
    @Html.HiddenFor(x => x.FlightNumber)
    @Html.HiddenFor(x => x.LoadLimits)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.LoadType)
    @Html.HiddenFor(x => x.CanSeeProfilePicture)
    @Html.HiddenFor(x => x.IsRecommendedPriceOk)
    <div class="form-group col-6 offset-3">
        <input type="submit" value="@_localizer[nameof(SharedResource.PublishRide)]" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
