@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride

@{
    ViewData["Title"] = "DepartureTime";
}

<h1>DepartureTime</h1>

<h4>Ride</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DepartureFlightNumber">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            @Html.HiddenFor(x => x.To)
            @Html.HiddenFor(x => x.From)
            @Html.HiddenFor(x => x.Price)
            @Html.HiddenFor(x => x.FlightNumber)
            @Html.HiddenFor(x => x.LoadType)
            @Html.HiddenFor(x => x.CanBookInstantly)
            @Html.HiddenFor(x => x.CanSeeProfilePicture)
            @Html.HiddenFor(x => x.Comment)
            @Html.HiddenFor(x => x.LoadLimits)

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
