@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride

@{
    ViewData["Title"] = "DepartureDate";
}

<h1 class="text-center mt-4">When are you going?</h1>


<form asp-action="DepartureTime">


    <div class="row mb-4"></div>
    <div class="input-group date mb-3 col-6 offset-3" data-provide="datepicker">
        <input type="text" id="Date" name="Date" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>

    @Html.HiddenFor(x => x.To)
    @Html.HiddenFor(x => x.From)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.FlightNumber)
    @Html.HiddenFor(x => x.LoadType)
    @Html.HiddenFor(x => x.CanBookInstantly)
    @Html.HiddenFor(x => x.CanSeeProfilePicture)
    @Html.HiddenFor(x => x.Comment)
    @Html.HiddenFor(x => x.LoadLimits)
    @Html.HiddenFor(x => x.PickupTime)

    

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>



    <script type="text/javascript">

        $(function () {
            $('.datepicker').datepicker({
                format: 'dd-MM-yyyy',
                startDate: '-3d'
            });

            $("#Date").trigger("click");
            $('.datepicker').datepicker()
                .on('changeDate', function (e) {
                    // `e` here contains the extra attributes
                    $('#Date').closest("form").submit();
                });
            //$input = $("#Date");
            //$input.datepicker({
            //    format: 'yyyy-MM-dd'
            //});
            //$input.data('datepicker').hide = function () { };
            //$input.datepicker('show');
            //$input.datepicker()
            //    .on('changeDate', function (e) {
            //        // `e` here contains the extra attributes
            //        $('#Date').val(e.date);
            //        $('#Date').closest("form").submit();
            //    });



        });
    </script>
}
