@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride

@{
    ViewData["Title"] = "DepartureFlightNumber";
}

<h1 class="text-center mt-4">DepartureFlightNumber</h1>

        <form asp-action="LoadType">


            <div class="row mb-4"></div>
            <div class="input-group mb-3 col-6 offset-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input asp-for="FlightNumber" class="form-control" />
            </div>


            @Html.HiddenFor(x => x.To)
            @Html.HiddenFor(x => x.From)
            @Html.HiddenFor(x => x.Price)
            @Html.HiddenFor(x => x.Date)
            @Html.HiddenFor(x => x.LoadType)
            @Html.HiddenFor(x => x.CanBookInstantly)
            @Html.HiddenFor(x => x.CanSeeProfilePicture)
            @Html.HiddenFor(x => x.Comment)
            @Html.HiddenFor(x => x.LoadLimits)
            @Html.HiddenFor(x => x.PickupTime)



            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
