@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = _localizer[nameof(SharedResource.DepartureDate)];
}

<h1 class="text-center mt-4">@_localizer[nameof(SharedResource.DepartureDateHeader)]</h1>


<form asp-action="DepartureTime">
    <div class="row mb-4"></div>
    <div class="input-group mb-3 col-6 offset-5" id="sandbox-container">
        <div></div>
    </div>

    @Html.HiddenFor(x => x.To)
    @Html.HiddenFor(x => x.From)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.FlightNumber)
    @Html.HiddenFor(x => x.LoadType)
    @Html.HiddenFor(x => x.CanBookInstantly)
    @Html.HiddenFor(x => x.CanSeeProfilePicture)
    @Html.HiddenFor(x => x.Comment)
    @Html.HiddenFor(x => x.LoadLimits)
    @Html.HiddenFor(x => x.Date)


</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.az.min.js"></script>



    <script type="text/javascript">

        $(function () {
            $('#sandbox-container div').datepicker({ language: getLangFromCookie()})
                .on('changeDate', function (e) {
                    // `e` here contains the extra attributes
                    $('#Date').val(new Date(e.date.getTime() - (e.date.getTimezoneOffset() * 60000)).toISOString());
                    $('form').submit();
                });

        });
    </script>
}
