@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = _localizer[nameof(SharedResource.LoadLimits)];
}

<h1 class="text-center mt-4">@_localizer[nameof(SharedResource.LoadLimits)]</h1>


<form asp-action="Approval">

    <div class="row mb-4"></div>



    <div class="form-row ">
        <div class="col-5">
            @("")
        </div>
        <div class="col-1">
            <i class="fa fa-minus-circle" onclick="Down()"></i>
        </div>
        <div class="col-1">
            <div id="LoadLimitsDiv">3</div>
        </div>
        <div class="col-1">
            <i class="fa fa-plus-circle" onclick="Up()"></i>

        </div>
    </div>


    @Html.HiddenFor(x => x.To)
    @Html.HiddenFor(x => x.From)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.DateString)
    @Html.HiddenFor(x => x.TimeString)
    @Html.HiddenFor(x => x.FlightNumber)
    @Html.HiddenFor(x => x.CanBookInstantly)
    @Html.HiddenFor(x => x.CanSeeProfilePicture)
    @Html.HiddenFor(x => x.LoadType)
    @Html.HiddenFor(x => x.Comment)
    @Html.HiddenFor(x => x.LoadLimits)


    <div class="form-group col-6 offset-3">
        <input type="submit" value="@_localizer[nameof(SharedResource.Continue)]" onclick="Continue()" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        function Up() {
            var val = parseInt($("#LoadLimitsDiv").text());
            val++;
            $("#LoadLimitsDiv").text(val);
        }

        function Down() {
            var val = parseInt($("#LoadLimitsDiv").text());
            val--;
            if (val < 0) val = 0;
            $("#LoadLimitsDiv").text(val);
        }

        function Continue() {
            $('#LoadLimits').val(parseInt($("#LoadLimitsDiv").text()));
        }
    </script>

}
