@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride

@{
    ViewData["Title"] = "PriceSetting";
}

<h1 class="text-center mt-4">Edit our recommended price per seat</h1>


<form asp-action="ProfilePictureChoice">

    <div class="form-row ">
        <div class="col-5">
            @("")
        </div>
        <div class="col-1">
            <i class="fa fa-minus-circle" onclick="Down()"></i>
        </div>
        <div class="col-1">
            <div id="PriceDiv">15</div><span> manat</span>
        </div>
        <div class="col-1">
            <i class="fa fa-plus-circle" onclick="Up()"></i>

        </div>
    </div>

    @Html.HiddenFor(x => x.To)
    @Html.HiddenFor(x => x.From)
    @Html.HiddenFor(x => x.CanBookInstantly)
    @Html.HiddenFor(x => x.Date)
    @Html.HiddenFor(x => x.FlightNumber)
    @Html.HiddenFor(x => x.LoadLimits)
    @Html.HiddenFor(x => x.CanSeeProfilePicture)
    @Html.HiddenFor(x => x.LoadType)
    @Html.HiddenFor(x => x.Comment)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.IsRecommendedPriceOk)
    <div class="form-group">
        <input type="submit" value="Continue" onclick="Continue()" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

    function Up() {
        var val = parseInt($("#PriceDiv").text());
        val++;
        $("#PriceDiv").text(val);
    }

    function Down() {
        var val = parseInt($("#PriceDiv").text());
        val--;
        if (val < 0) val = 0;
        $("#PriceDiv").text(val);
    }
    function Continue() {
        $('#Price').val(parseInt($("#PriceDiv").text()));
    }
</script>
}
