@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride

@{
    ViewData["Title"] = "ProfilePictureChoice";
}

<h1 class="text-center mt-4">Add your profile picture. Passengers will want to see who you are.</h1>



        <form asp-action="Comment">
            <div class="row mb-4"></div>
            <div class="form-control col-6 offset-3">
                <a onclick="SetApporavl(true)" href="#" class="">Yes, sure!</a>
            </div>
            <hr class="col-6 offset-3" />
            <div class="form-control col-6 offset-3">
                <a onclick="SetApporavl(false)" href="#">No, thanks</a>
            </div>


            @Html.HiddenFor(x => x.To)
            @Html.HiddenFor(x => x.From)
            @Html.HiddenFor(x => x.CanBookInstantly)
            @Html.HiddenFor(x => x.Date)
            @Html.HiddenFor(x => x.FlightNumber)
            @Html.HiddenFor(x => x.LoadLimits)
            @Html.HiddenFor(x => x.Price)
            @Html.HiddenFor(x => x.LoadType)
            @Html.HiddenFor(x => x.Comment)
            @Html.HiddenFor(x => x.CanSeeProfilePicture)
            @Html.HiddenFor(x => x.IsRecommendedPriceOk)
        </form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function SetApporavl(val) {
            $('#CanSeeProfilePicture').val(val);
            if (val) {
                $('form').attr('action', 'ProfilePicture');
            }
            $('form').submit();

        }
    </script>
}
