@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride

@{
    ViewData["Title"] = "ProfilePicture";
}

<h1 class="text-center mt-4">Don't wear sunglasses, look straight ahead and make sure you're alone.</h1>


<form asp-action="Comment">
    <div class="form-group col-6 offset-3">
        <button type="button" class="btn btn-primary">Choose a picture</button>
    </div>
    <input id="file-input" type="file" class="form-control-file" hidden>


    @Html.HiddenFor(x => x.To)
    @Html.HiddenFor(x => x.From)
    @Html.HiddenFor(x => x.CanBookInstantly)
    @Html.HiddenFor(x => x.Date)
    @Html.HiddenFor(x => x.FlightNumber)
    @Html.HiddenFor(x => x.LoadLimits)
    @Html.HiddenFor(x => x.CanSeeProfilePicture)
    @Html.HiddenFor(x => x.LoadType)
    @Html.HiddenFor(x => x.Comment)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.IsRecommendedPriceOk)

</form>




@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('button').on('click', function () {
            $('#file-input').trigger('click');
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file-input").change(function () {
            //readURL(this);
            var formData = new FormData();
            formData.append('thefile', this.files[0]);
            $.ajax(
                {
                    url: "/Profile/UploadFile",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        $('form').submit();
                    }
                }
            );
        });

    </script>
}
