@model BlaBlaCarAz.BLL.DomainModel.Entities.Ride
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = _localizer[nameof(SharedResource.ProfilePictureTitle)];
}

<h1 class="text-center mt-4">@_localizer[nameof(SharedResource.ProfilePictureHeader)]</h1>


<form asp-action="Comment">
    <div class="form-group col-6 offset-3">
        <button id="picture-button" type="button" class="btn btn-primary">@_localizer[nameof(SharedResource.ChoosePicture)]</button>
    </div>
    <input id="file-input" type="file" class="form-control-file" hidden>


    @Html.HiddenFor(x => x.To)
    @Html.HiddenFor(x => x.From)
    @Html.HiddenFor(x => x.CanBookInstantly)
    @Html.HiddenFor(x => x.Date)
    @Html.HiddenFor(x => x.FlightNumber)
    @Html.HiddenFor(x => x.LoadLimits)
    @Html.HiddenFor(x => x.CanSeeProfilePicture)
    @Html.HiddenFor(x => x.LoadType)
    @Html.HiddenFor(x => x.Comment)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.IsRecommendedPriceOk)

</form>




@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
