@model IEnumerable<BlaBlaCarAz.BLL.DomainModel.Entities.Chat>
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = _localizer[nameof(SharedResource.Messages)];
}

<h1>@_localizer[nameof(SharedResource.Messages)]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(_localizer[nameof(SharedResource.Subject)])
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a class="@(item.Messages.Any(x=>x.ToUserId == ViewBag.AppUserId && !x.IsSeen)?"alert-dark":"" )" href="@Url.Action("Show","Message",new { id=item.Id})">
                        @Html.DisplayFor(modelItem => item.Ride.From)<span><i class="fa fa-arrow-right"></i></span>@Html.DisplayFor(modelItem => item.Ride.To)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
