@model IEnumerable<BlaBlaCarAz.BLL.DomainModel.Entities.Ride>

@{
    ViewData["Title"] = "RideSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Where do you want to go?</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.UserName)
            </td>
            <td>
                @Html.ActionLink("Book", "Create", "Book", new { rideId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
