@model RideSearchResultViewModel

@{
    ViewData["Title"] = "RideSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Where do you want to go?</h1>
<div class="card">
    <div class="card-body">
        <div>
            @Model.searchModel.From <span><i class="fa fa-arrow-right"></i></span> @Model.searchModel.To:
        </div>
        <div>
            @Model.Rides.Count rides available
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rides)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.UserName)
                @if (item.CanSeeProfilePicture)
                {
                    <img src="@Url.Action("GetImage", "Profile", new { id = item.AppUserId })" width="46" height="46" />
                }
            </td>
            <td>
                @(string.Format("{0:F}", item.Price * Model.searchModel.LoadLimits))
            </td>
            <td>
                @Html.ActionLink("Continue", "Details", "Ride", new { id = item.Id,loadLimits = Model.searchModel.LoadLimits })
            </td>
        </tr>
}
    </tbody>
</table>