@model RideSearchResultViewModel
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = "RideSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Where do you want to go?</h1>
<div class="card">
    <div class="card-body">
        <div>
            @Model.searchModel.From <span><i class="fa fa-arrow-right"></i></span> @Model.searchModel.To:
        </div>
        <div>
            @Model.Rides.Count rides available
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].LoadLimits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].Price)
            </th>

            <th>@_localizer[nameof(SharedResource.Limits)]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rides)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @((item.LoadLimits - item.Books.Where(x => x.IsConfirmed).Sum(b => b.LoadLimits)))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUser.UserName)
                    @if (item.CanSeeProfilePicture)
                    {
                        <img src="@Url.Action("GetImage", "Profile", new { id = item.AppUserId })" width="46" height="46" />
                    }
                </td>
                <td>
                    @(string.Format("{0:F}", item.Price))
                </td>
                <td>
                    <input type="number" value="1" id="@(item.Id)LoadLimits" class="form-control" placeholder="@_localizer[nameof(SharedResource.Limits)]">
                </td>
                <td>
                    <button type="button" class="btn btn-link" onclick="Continue(@item.Id)">Continue</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script type="text/javascript">

        function Continue(itemId) {
            var url = '@Url.Action("Details", "Ride")';
            var loadLimits = $('#'+itemId+'LoadLimits').val();
            url += '?id=' + itemId + '&loadLimits=' + loadLimits;
            window.location.href = url;
        }
    </script>
}