@model BlaBlaCarAz.BLL.DomainModel.Entities.AppUser
@using BlaBlaCarAz.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> _localizer
@{
    ViewData["Title"] = Model.NameLastName + _localizer[nameof(SharedResource.PublicProfileHeader)];
    // Save today's date.
    var today = DateTime.Today;
    // Calculate the age.
    int? age = null;
    if (Model.Birthdate.HasValue)
    {
        age = today.Year - Model.Birthdate.Value.Year;

        // Go back to the year in which the person was born in case of a leap year
        if (Model.Birthdate.Value.Date > today.AddYears(-age.Value)) age--;
    }
}


<div class="text-center mb-xl mt-xl">
    <div class="account-user-avatar">
        <img width="144" height="144" src="@Url.Action("GetImage","Profile",new { id=Model.Id})" alt="@Model.NameLastName@_localizer[nameof(SharedResource.PublicProfileHeader)]" />
    </div>
    <h1 class="card-title my-l">@Model.NameLastName</h1>
    <div class="" role="presentation">
        <p class="text-body">@(age.HasValue ? (age+ _localizer[nameof(SharedResource.Age)]) :"")</p>
    </div>
</div>

<ul class="">
    <li class="">
        <div class="carousel-item-left">
            <span class="carousel-item-left">
                <span class="text-left">
                    <span class="card-body text-body"> @Model.Rides.Count() @_localizer[nameof(SharedResource.RidesPublished)] </span>
                </span>
            </span>
        </div>
    </li>
    <li class="">
        <div class="">
            <span class="carousel-item-left">
                <span class="text-left">
                    <span class="card-body text-body"> @_localizer[nameof(SharedResource.MemberSince)] @Model.RegistrationDate.Value.ToString("MMMM yyyy")</span>
                </span>
            </span>
        </div>
    </li>
</ul>