@model IEnumerable<BlaBlaCarAz.BLL.DomainModel.Entities.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 >
    Payments &amp; refunds
</h1>

<p >
    Here are all your bookings, as well as pending and completed refunds, from the past 2 years.
</p>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span><i class="fa fa-search"></i></span>Find a ride</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Ride.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride.AppUser)
            </th>
            <th>
                @Html.DisplayName("Book Date")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadLimits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ride.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ride.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ride.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ride.AppUser.NameLastName)
            </td>
            <td>
                @( item.CreatedOn.Value.ToString("dddd, dd MMMM yyyy HH:mm:ss"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadLimits)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
